@font-face {
    font-family: 'productreg';
    src: url('productreg.ttf');
}
body{
	 font-family: 'productreg';
	/*color: #FFFFFF;
	background-color: rosybrown; */
	background-color: ivory;
	/* background-color: rgb(50, 50, 30); */
	/* background-color: #0000ff; */
}

.container-fluid{
	margin-top: -110px;
	padding-left: 0;
	padding-right: 0;
}

.module{
	transition: all 0.6s cubic-bezier(0.810, -0.330, 0.345, 1.375);
	z-index: 500;
	width: 50%;
	margin: -150px auto 50px;
	padding-top: 180px; 
	padding-bottom: 150px;
	border-radius: 100px;
	text-align: center;
	background-color: #2A2A2A;
	box-shadow: 0 10px 30px rgba(17, 17, 17, 0.10), 0 6px 12px rgba(17, 17, 17, 0.10);
}

.module input{
	display: block;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 25px;
	line-height: 50px;
	color: #FFFFFF;
	background-color: #2A2A2A;
	border: 3px solid #E0E0E0;
	text-align: inherit;
	font-size: 20px;
	outline: none;
	min-width: 500px;
}
::placeholder{
	color: #BDBDBD;
}
.module button.btn, button{
	font-family: 'productbold';
	background: #fbc02d;
	color: #FFFFFF;
	font-size: 20px;
	border-radius: 20px;
	border: none;
	outline: none;
	min-width: 250px;
	min-height: 50px;
}
button:focus, .module button.btn:focus{
	outline: 0;
}
button{
	transition: all 0.3s linear;
	background: #2A2A2A;
	font-family: 'productreg';
	border: 2px solid #FFFFFF;
	min-width: 150px;
	margin-left: 5px;
	margin-right: 5px;
	margin-top:	20px;
}
input:disabled{
	color: #B0B0B0;
	border: 3px solid #B0B0B0;
}
button:disabled{
	border: 2px solid #AAAAAA;
	color: #707070;
}
button:hover{
	background: #4A4A4A;
}
h4{
	border-top: 2px solid #FFFFFF;
	margin-top: 30px;
	padding-top: 20px;
	max-width: 700px;
	margin: 30px auto 0;
	font-family: 'productbold';
	font-size: 35px
}

h5{
	font-family: 'productbold';
	margin-top: 20px;
	font-size: 25px
}
h6{
	margin-top: 10px;
	font-size: 15px
}
h1{
	color: black
}
.container {
	height: 200px;
	position: relative;
	border: 3px solid green;
  }
  
  .center {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
  }
  #footer {
	position: fixed;
	padding: 0px 0px 0px 0px;
	bottom: 20px;
	width: 100%;
	/* Height of the footer*/ 
	height: 35px;
	background: ivory;
}