<!DOCTYPE html>
<html>
    <head>
        <title>AWS IAM USER AUDIT</title>
        <link rel="stylesheet" href="E:\Love Class\aws-iam-user-audit\static\styles.css">
    </head>

    <body>
        <h1><center>Welcome AWS USER</center></h3>
            <img src = "E:\Love Class\aws-iam-user-audit\static\logo\download.png">
        <div class = "center">
            
        <button type = "button">List User</button>
        <br>
        <button type = "button">Specific User Details</button>
        <br>
        <button type = "button">Generate Report</button>
        <br>
        <button type = "button">User's IAM Policies</button>
        <br>
        <button type = "button">User's Detials whose password is older than given number of days</button>
        <br>
        <button type = "button">Users who doesn't have MFA enabled</button>
        <button type = "button">Users who have Adminstrative policy attached to them</button>
    </div>

    <div id = "footer">
        <p>Aryan Purohit<br>
        <a href="aryanpurohit6@gmail.com">aryanpurohit6@gmail.com</a></p>
    </div>
        
    </body>
</html>