<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>AWS IAM USER</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0 ">
        <link rel = "stylesheet" href = "E:\Love Class\aws-iam-user-audit\static\styles.css">
    </head>
    <body>
        <div class = "button">
            <button type = "button">List User</button>
            <button type = "button">Specific User Details</button>
            <button type = "button">Generate Report</button>
        </div>
    </body>
</html>